@model IEnumerable<SalesTeamEvaluator.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Team Members</h2>

<p>
    @Html.ActionLink("Add New Team Member", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.FirstName @item.LastName
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
